<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="logo.png" alt="Logo" style="width: 40px; height: 40px; margin-right: 10px;border-radius: 50px;">
      <span><b>Employee Management</b></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item">
          <a class="btn btn-outline-light" routerLink="/employees" routerLinkActive="active">Employees List</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" routerLink="/add-employee" routerLinkActive="active">Add Employee</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
